# SWADHIN MAITY

Q.1

In [54]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello! " + name + ", congratulation for turning " + age)

Enter your name: Swadhin Maity
Enter your age: 21
Hello! Swadhin Maity, congratulation for turning 21

Q.2.a

In [4]:
p = float(input("Enter the principle amount: "))
r = float(input("Enter the rate of interest: "))
t = int(input("Enter the time(years): "))
si = p*r*t/100
print("The simple interest will be ", round(si,2))

Enter the principle amount: 450
Enter the rate of interest: 4.5
Enter the time(years): 5
The simple interest will be  101.25

Q.2.b

In [1]:
p = float(input("Enter the principle amount: "))
r = float(input("Enter the rate of interest: "))
n = int(input("number of times compounded in one year: "))
t = int(input("Enter the time(years): "))
a = p*((1+(r/(100*n)))**(n*t))
ci = a-p
print("The future amount will be ",round(a,2))
print("The compound interest will be ", round(ci,2))

Enter the principle amount: 500
Enter the rate of interest: 4.5
number of times compounded in one year: 2
Enter the time(years): 5
The future amount will be  624.6
The compound interest will be  124.6

Q.2.c

In [3]:
c = float(input("Enter the temperature in celsius: "))
f = (c*(9/5))+32
print("The temperature in Fahrenheit will be ", f)

Enter the temperature in celsius: 36
The temperature in Fahrenheit will be  96.8

Q.2.d

In [5]:
r = float(input("Enter the redius of the circle: "))
a = (22/7)*(r**2)
print("The area of the circle will be ", round(a,3))

Enter the redius of the circle: 5
The area of the circle will be  78.571

Q.2.e

In [11]:
x = float(input("Enter the marks: "))
y = x+3
print("The incrimented mark will be ",y)

Enter the marks: 50
The incrimented mark will be  53.0

Q.3

In [15]:
j = '''Jack and jill went up to hill,
To fetch a pail of water.
Jack fell down and
Broke his crown,
And Jill came trumbling after.'''
print(j)

Jack and jill went up to hill,
To fetch a pail of water.
Jack fell down and
Broke his crown,
And Jill came trumbling after.

Q.4

In [4]:
from datetime import datetime
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
print("Current time = ", current_time)

Current time =  09:58:44

Q.5

In [25]:
color_list = ["Red","Green","White","Black"]
first = color_list[0]
last = color_list[-1]
print(f'The first colour is {first} and the last colour is {last} .')

The first colour is Red and the last colour is Black .

Q.6

In [28]:
n = int(input("Write an integer value(n): "))
new = n+((n*10)+n)+((n*100)+(n*10)+n)
print("The new value will be in form of n+nn+nnn = ", new)

Write an integer value(n): 5
The new value will be in form of n+nn+nnn =  615

In [3]:
#or
n = int(input("Write an integer value(n): "))
n1 = (n*10)+n
n2 = (n*100)+(n*10)+n
print(f'The output will be {n}+{n1}+{n2}.')

Write an integer value(n): 5
The output will be 5+55+555.

Q.7

syntax error: These are mistakes in the use of the Python language.

In [49]:
# i) leaving out symbol:
fish = "Ilish"
print"fish"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1792166767.py, line 3)

In [6]:
#solution:
fish = "Ilish"
print(fish)

Ilish

In [45]:
# ii) incomplete loop
else:
    print("Hellow!!")

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2312249718.py, line 3)

In [7]:
#solution
ram = False
if ram:
    print("Hi!!")
else :
    print("Hellow!!")

Hellow!!

In [53]:
# iii) TypeError
weight = 2
animal = "rabbit"

print(weight+" kg is the weight of the "+animal+".")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
#solution
weight = 2
animal = "rabbit"
print(str(weight)+" kg is the weight of the "+animal+".")

2 kg is the weight of the rabbit.

Q.8

In [29]:
string = '''Animals,
Badger,
Honey Bee,
Honey Badger.'''
print(string.lower())

animals,
badger,
honey bee,
honey badger.

Q.9

In [38]:
string_object = "My Birth Date is August "
integer_object = 15
print(f'{string_object}{integer_object}.')

My Birth Day is August 15.

Q.10

In [5]:
weight = 0.2
animal = "newt"
#using string concatenation
print(str(weight)+" kg is the weight of the "+animal+".")

#using placeholders and f-string
print(f'{weight} kg is the weight of the {animal}.')

0.2 kg is the weight of the newt.
0.2 kg is the weight of the newt.